* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1100px;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: chartreuse; */
}

.card {
  min-height: 80vh;
  transform-style: preserve-3d;
  /* background: lightcoral; */
  padding: 0 5rem;
  width: 35rem;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.profile {
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  transition: all 0.75s ease-out;
  /* transform: translateY(-7%); */
  width: 30rem;
  z-index: 2;
}

.circle {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: absolute;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  z-index: 1;
}

.info h1 {
  transition: all 0.75s ease-out;
  font-size: 2.5rem;
  font-weight: bolder;
}

.info h3 {
  transition: all 0.75s ease-out;
  padding: 1rem 0rem;
  color: #585858;
}
